<div class="kt-container-fluid">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-mono">
                Lista de Usuários
            </h1>
        </div>
        <div class="flex items-center gap-2.5">
            <!-- Botão Novo Usuário removido -->
        </div>
    </div>
</div>

<div class="kt-container-fluid">
    <div class="grid gap-5 lg:gap-7.5">
        <app-generic-p-table tableName="user-list" [tableData]="users" [columnDefinition]="columns" [rows]="10"
            [displayEditAction]="true" [displayDeleteAction]="false" (edit)="onEdit($event)">
        </app-generic-p-table>
    </div>
</div>