<div class="kt-container-fluid">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-mono">
                {{ 'teams.list.header' | transloco }}
            </h1>
        </div>
        <div class="flex items-center gap-2.5">
            <button class="kt-btn kt-btn-primary" (click)="openDialog()">
                <i class="ki-filled ki-plus"></i>
                {{ 'teams.list.new_team' | transloco }}
            </button>
        </div>
    </div>
</div>

<div class="kt-container-fluid">
    <div class="grid gap-5 lg:gap-7.5">
        <app-generic-p-table tableName="team-list" [tableData]="itens" [columnDefinition]="columns" [rows]="10"
            [displayCreateAction]="false" [displayEditAction]="true" [displayDeleteAction]="true"
            (edit)="openDialog($event)" (delete)="onRemover($event)">
        </app-generic-p-table>
    </div>
</div>